<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

    <section layout:fragment="body" style="background-color: #2B3035;">
        <div class="container text-white">
            <!-- Título -->
            <h1 style="text-align: center"><b>Detalles del usuario</b></h1>
            
            <!-- Formulario para visualizar / editar -->
            <form style="padding-bottom: 10px">
                <div>
                    <!-- DATOS GENERALES -->
                    <h4 class="mb-3" style="padding-bottom: 10px">Datos generales</h4>
                    
                    <!-- ÁREA USUARIO -->
                        <!-- Imagen del usuario -->
                        <div class="row g-3" style="display: flex; justify-content: center; align-items: center; background-color: activeborder">
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <img id="imagenUsuario" style="max-height: 200px; max-width: auto" th:src="|${(usuario.Imagen != null) ? 'data:image/*;base64,' + usuario.Imagen : 'https://tlconnect.teamlease.com/Images/Profile/default.jpg'}|"/>
                            </div>
                        </div>
                        
                        <div class="row g-3" style="display: flex; justify-content: center; align-items: center; background-color: activeborder; text-align: center">
                            <!-- Username -->
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                                <label for="disabledUsername" class="form-label">Username</label>
                                <h4 th:text="${usuario.Username}"></h4>
                            </div>
                            
                            <!-- Nombre -->
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                <label for="disabledNombre" class="form-label">Nombre</label>
                                <h4 th:text="${usuario.Nombre}"></h4>
                            </div>
                            
                            <!-- Apellido paterno -->
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                <label for="disabledApellidoPaterno" class="form-label">Apellido paterno</label>
                                <h4 th:text="${usuario.ApellidoPaterno}"></h4>
                            </div>
                            
                            <!-- Apellido materno -->
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                <label for="disabledApellidoMaterno" class="form-label">Apellido materno</label>
                                <h4 th:text="${usuario.ApellidoMaterno}"></h4>
                            </div>
                        </div>

                        <div class="row g-3" style="display: flex; justify-content: center; align-items: center; background-color: activeborder; text-align: center; padding-bottom: 15px">
                            
                            <!-- Fecha de nacimiento -->
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                <label for="disabledFechaNacimiento" class="form-label">Fecha de nacimiento (yyyy/MM/dd)</label>
                                <h4 th:text="${{usuario.FechaNacimiento}}"></h4>
                            </div>
                            
                            <!-- Sexo -->
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                <label for="disabledSexo" class="form-label">Sexo</label>
                                <h4 th:text="${usuario.Sexo}"></h4>
                            </div>
                            
                            <!-- CURP -->
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                <label for="disabledCurp" class="form-label">CURP</label>
                                <h4 th:text="${usuario.Curp}"></h4>
                            </div>
                            
                            <!-- Rol -->
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                <label for="disabledRol" class="form-label">Rol</label>
                                <h4 th:text="${usuario.rol.Nombre}"></h4>
                            </div>
                            
                        </div>
                        
                        
                        <hr class="my-4">
                        <!-- DATOS GENERALES -->
                        <h4 class="mb-3" style="padding-bottom: 10px">Datos de contacto</h4>
                        <div class="row g-3" style="display: flex; justify-content: center; align-items: center; background-color: activeborder; text-align: center; padding-bottom: 15px">
                            
                            <!-- Email -->
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <label for="disabledEmail" class="form-label">Email</label>
                                <h4 th:text="${usuario.Email}"></h4>
                            </div>
                            
                            <!-- Teléfono -->
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <label for="disabledTelefono" class="form-label">Teléfono</label>
                                <h4 th:text="${usuario.Telefono}"></h4>
                            </div>
                            
                            <!-- Celular -->
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <label for="disabledCelular" class="form-label">Celular</label>
                                <h4 th:text="${usuario.Celular}"></h4>
                            </div>
                            
                        </div>
                </div>
                <!-- Botón editar información del usuario -->
                <div style="display: flex; justify-content: center; align-items: center;">
                    <a th:href="|@{/usuario/formEditable?IdUsuario=}${usuario.IdUsuario}|" class="btn btn-success mt-2 col-6 fw-bold" type="submit">Editar información <i class="bi bi-pencil-square"></i></a>
                </div>

                <!-- TABLA DIRECCIONES -->
                <div>
                    <hr class="my-4">
                    <h4 class="mb-3" style="margin-bottom: 0px"><b>Dirección</b></h4>
                    <div class="mb-3">
                        <table class = "table table-hover table-striped-columns" style="background-color: activeborder; color: whitesmoke">
                            <thead>
                                <tr class = "table table-dark" style="text-align: center">
                                    <th scope="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1" >#</th>
                                    <th scope="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1" >Calle</th>
                                    <th scope="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">No. Int</th>
                                    <th scope="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1" >No. Ext</th>
                                    <th scope="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" >Colonia</th>
                                    <th scope="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1" >Código Postal</th>
                                    <th scope="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" >Municipio</th>
                                    <th scope="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" >Estado</th>
                                    <th scope="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1" >País</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="direccion, iterStat : ${usuario.direccion}">
                                    <td id="botonesTabla">
                                        <a th:href="@{/usuario/update?IdDireccion=}+${usuario.Direccion[0].IdDireccion}+'&IdUsuario='+${usuario.IdUsuario}" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                                        <a th:href="@{/usuario/deleteD?IdDireccion=}+${usuario.Direccion[0].IdDireccion}+'&IdUsuario='+${usuario.IdUsuario}" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></a>
                                    </td>
                                    <td th:text="${direccion.Calle}"></td>
                                    <td th:text="${direccion.NumeroExterior}"></td>
                                    <td th:text="${direccion.NumeroInterior}"></td>
                                    <td th:text="${direccion.Colonia.Nombre}"></td>
                                    <td th:text="${direccion.Colonia.CodigoPostal}"></td>
                                    <td th:text="${direccion.Colonia.Municipio.Nombre}"></td>
                                    <td th:text="${direccion.Colonia.Municipio.Estado.Nombre}"></td>
                                    <td th:text="${direccion.Colonia.Municipio.Estado.Pais.Nombre}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="display: flex; justify-content: center; align-items: center; padding-bottom: 10px">
                        <a th:href="|@{/usuario/formEditable?IdDireccion=}0&IdUsuario=${usuario.IdUsuario}|" class="btn btn-success mt-2 col-6 fw-bold" type="submit">Agregar dirección <i class="bi bi-building-add"></i></a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</html>